
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #868383;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.list-header {
  text-align: center;
}

.buttons input {
  border: 1px solid #868383;
  border-radius: 5px ;
  width: 4rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}